.v-shopping-cart {
  border: 1px solid black;

  &__availability {
    display: flex;
    justify-content: space-around;
  }

  .bi-dash,
  .bi-plus {
    color: rgb(1, 100, 145);
    -webkit-text-stroke: 1px;
  }

  &__cart {
    display: flex;
    justify-content: space-between;
  }

  &__go-back {
    text-align: right;
    cursor: pointer;
  }
}
