.card {
  min-height: 100%;
}

.card-img-top {
  border-radius: 0%;
}

.card-title,
.card-subtitle {
  color: rgb(21, 178, 245) !important;
}

.card-footer {
  text-align: center;
  cursor: pointer;
}
